<div class="container-fluid mt-50 pl-0">
				<div class="row">
					<div class="col-md-2 p-0 bg-yellow">
						<div id="profile" class="pl-50 pr-50 pt-20 pb-30 bg-black">
							<img src="../images/shreyu.png" width="150"class="img-responsive img-circle"><br>
							<i style="color:#fff"> shreyas@gmail.com</i>
						</div>
						<div class="pl-15 ">
								 <ul class="nav nav-pills nav-stacked" id="stacked-menu">
										<li><a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p2"><i class="fa-address-book fa"></i> Profile<div class="caret-container"><span class="caret arrow"></span></div></a>    
										
											 <ul class="nav nav-pills nav-stacked collapse in" id="p2">
												<li data-toggle="collapse" data-parent="#p2" href="#pv1">
												  <a class="nav-sub-container"><i class="fa  fa-angle-double-right"></i> Update Profile</a></li>
												 
												
												
												<li data-toggle="collapse" data-parent="#p2" href="#pv2">
												  <a class="nav-sub-container"><i class="fa  fa-angle-double-right"></i> Log Out</a></li>
												 
		 
												
												
											  </ul>
											
										</li>
										<li>
										  <a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p1"> <i class="fa fa-users" aria-hidden="true"></i> Users<div class="caret-container"><span class="caret arrow"></span></div></a>    
										  
										  <ul class="nav nav-pills nav-stacked collapse in" id="p1">
											<li data-toggle="collapse" data-parent="#p1" href="#pv1">
											  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> View Users</a></li>
											 
											
											
											<li data-toggle="collapse" data-parent="#p1" href="#pv2">
											  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> My Friends</a></li>
											 

											<li data-toggle="collapse" data-parent="#p1" href="#pv3">
											  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> Friend Requests</a></li>
											  
											 <li data-toggle="collapse" data-parent="#p1" href="#pv4">
											  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> Approve Users </a></li>

											<li data-toggle="collapse" data-parent="#p1" href="#pv5">
											  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> Block Users</a></li>
											 
											
											
										  </ul>
										  
										</li>
										
										
										<li><a class="nav-container" data-toggle="collapse" data-parent="#stacked-menu" href="#p3"><i class="fa fa-rss" aria-hidden="true"></i> Blog<div class="caret-container"><span class="caret arrow"></span></div></a>    
										
											 <ul class="nav nav-pills nav-stacked collapse in" id="p3">
												<li data-toggle="collapse" data-parent="#p3" href="#pv1">
												  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> <u>My Blogs</u></a></li>
												 											
												
												<li data-toggle="collapse" data-parent="#p3" href="#pv2">
												  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> View Blogs</a></li>
												 <li data-toggle="collapse" data-parent="#p3" href="#pv3">
												  <a class="nav-sub-container" href="#"><i class="fa  fa-angle-double-right"></i> Create Blog</a></li>
		 
												
												
											  </ul>
											
										</li>
										
										<li><a class="nav-container" href="#"><i class="fa fa-file" aria-hidden="true"></i> Forum</a></li>
									  </ul>
						
						</div>
					
					</div>
					<div class="col-md-10">
						
						<div class="container">
							<div class="col-md-2 hidden-sm">
							</div>
							
							<div class="col-md-8 col-sm-12">
								<h4 class="text-center p-10 border-radius-10"> Java Servlet</h4>
								<div class="mt-20">
								
									<p class="mb-20">A Java servlet is a Java program that extends the capabilities of a server. Although servlets can respond to any types of requests, they most commonly implement applications hosted on Web servers. Such Web servlets are the Java counterpart to other dynamic Web content technologies such as PHP and ASP.NET. <br><br>A Java servlet processes or stores a Java class in Java EE that conforms to the Java Servlet API,[2] a standard for implementing Java classes that respond to requests. Servlets could in principle communicate over any client–server protocol, but they are most often used with the HTTP protocol. Thus "servlet" is often used as shorthand for "HTTP servlet".[3] Thus, a software developer may use a servlet to add dynamic content to a web server using the Java platform. The generated content is commonly HTML, but may be other data such as XML.</p>
									<form action="" method="post">
										
										<div class="form-group">
													  <label>Comments :</label>
													  <textarea class="form-control" rows="3" id="comment" placeholder="Post Your Comment here"></textarea>
										</div>
										<div class="form-group ">
											<input type="submit" class="btn btn-primary" value="Post">
											
										</div>	
									</form>
									<div class="mt-50 bg-yellow">
										<div class="media p-20 bg-bluish">
									  
										  <div class="media-body">
											<h5 class="media-heading yellow"><span class="pull-left">Andy112</span><span class="yellow pull-right" >12:00 AM, 23 Feb 2017</span></h5>
											
											<p class="mt-40">Very Nice Information about Java Servlet.</p>											
										  </div>
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-2 hidden-sm">
							</div>
						</div>
					</div>
				</div>
			
			
			</div>
			
			<!-- footer strats here-->
			<div class="container-fluid bg-yellow mt-30">
				<div class="container" style="padding:30px">
						<div class="row">
								 <div class="col-sm-4">
								 <p><b>Contact Details</b></p>
								  <p>NIIT,2nd Floor, Jayashree Building, Next to Paradise Towers, Gokhale Road, Thane West, Naupada.</p>
								  <p><i class="fa fa-map-marker"></i> Maharashtra, India</p>
								  <p><i class="fa fa-phone"></i> +00 1515151515</p>
								  <p><i class="fa fa-envelope"></i> admin@studentforum.com</p>
								</div>
								<div class="col-sm-4">
								  <div class="row">
									<div class="col-sm-6 form-group">
									  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
									</div>
									<div class="col-sm-6 form-group">
									  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
									</div>
								  </div>
								  <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="3"></textarea><br>
								  <div class="row">
									<div class="col-sm-12 form-group">
									  <button class="btn btn-default pull-right" type="submit">Send</button>
									</div>
								  </div>
								</div>
								<div class="col-sm-4">
									<p><b>About Student Forum</b></p>
								  <p>Student Forum gives you the opportunity to create, manage your own blogs,forums. Also it helps you to manage the friend requests & users. You have various options to update profile for blogging. </p>
								</div>
						 </div>
				</div>
				
				
			
			</div>