<div class="col-md-9">
						<div class="container">
						
							<div class="col-md-9">
								<marquee width="100%"><a href="#"> Welcome {{currentUser.firstname}} {{currentUser.lastname}}, you are now logged in as {{currentUser.role}} </a></marquee><br>
									<div class="media p-20 bg-bluish">
									  <div class="media-left">
										<img src="images/img_avatar1.png" class="media-object" style="width:60px">
									  </div>
									  <div class="media-body">
										<h5 class="media-heading" style="color:#f9e246;">John Doe</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text of the printing and typesetting industry.</p>
									  </div>
									</div>
									
									<div class="media p-20 bg-bluish">
									  <div class="media-left">
										<img src="images/img_avatar1.png" class="media-object" style="width:60px">
									  </div>
									  <div class="media-body">
										<h5 class="media-heading" style="color:#f9e246;">John Doe</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text of the printing and typesetting industry.</p>
									  </div>
									</div>
									
									<div class="media p-20 bg-bluish">
									  <div class="media-left">
										<img src="images/img_avatar1.png" class="media-object" style="width:60px">
									  </div>
									  <div class="media-body">
										<h5 class="media-heading" style="color:#f9e246;">John Doe</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text of the printing and typesetting industry.</p>
									  </div>
									</div>
									
									<div class="media p-20 bg-bluish">
									  <div class="media-left">
										<img src=".images/img_avatar1.png" class="media-object" style="width:60px">
									  </div>
									  <div class="media-body">
										<h5 class="media-heading" style="color:#f9e246;">John Doe</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text of the printing and typesetting industry.</p>
									  </div>
									</div>
									<div class="media p-20 bg-bluish">
									  <div class="media-left">
										<img src="images/img_avatar1.png" class="media-object" style="width:60px">
									  </div>
									  <div class="media-body">
										<h5 class="media-heading" style="color:#f9e246;">John Doe</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text of the printing and typesetting industry.</p>
									  </div>
									</div>
									
							</div>
							<div class="col-md-3">
							</div>
						</div>
</div>
